<div class="jumbotron">
    <h1>Senkei Framework</h1>
    <hr/>
    <br/>
    <p>
        Senkei Framework est une architecture PHP intégralement développée from scratch,
    </p>
    <p>
        respectant les concepts de
        <span class="text-danger">Model View Controller</span>,
        et de <span class="text-danger">Programmation Orientée Objet</span>.
    </p>

    <br/>
    <br/>
    <p>
        <a class="btn btn-danger" href="index.php?p=how_to_use" role="button">How To Use</a>
        <a class="btn btn-danger" href="index.php?p=how_it_works" role="button">How It Works</a>
        <a class="btn btn-danger" href="index.php?p=documentation" role="button">Documentation</a>
        <a class="btn btn-primary" href="index.php?p=blog" role="button">Sample Blog</a>
    </p>
</div>
